.menu{
    position: absolute;
    right: 2em;
    display: inline-block;
}
.menu_item{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    padding: 12px 12px;
}
.menu:hover .menu_item{display: block}
#highlight{
    background-color: #924c20;
}
nav a:hover{
    background-color: #924c20;
}
header{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0.5em 1em;
}
header h3{
    margin: 0;
}
header a, header span{
    color: white;
}
header div a{
    color: black;
}
#body{
    width: 90%;
}
#left{
    width: 15%;
    float: left;
    margin-top: 3em;
    margin-left: 4em;
    text-align: center;
    display: block;
}
.content{
    border-width: 2px;
    border-radius: 2em;
    border-style: solid;
    border-color: grey;
    margin: 1em;
    text-align: center;
    display: inline-block;
}
.content li, .content h4{
    padding: 0 2em;
}
.header{
    background-color: #9c9c9c;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    text-align: center;
}
.header h4{
    margin: 0;
}
#searchimg{
    width: 14px;
    margin: 0 2px;
}
#searchimg:hover{
    cursor: pointer;
}
#searchtxt{
    width: 60%;
}
#a{
    margin: 0.5em;
}
ul{
    text-align: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
li:not(:nth-last-of-type(1)){
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}
li{
    margin: 0;
    padding: 0;
    text-align: center;
}
#right{
    width: 60%;
    float: right;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 2em;
    overflow: auto;
    margin: 2em 1em;
}
#table{
    display: inline-block;
}
#page{
    text-align: center;
}
.page{
    display: inline-block;
    margin: 0 5px;
}
#page3{
    color: red;
}
table td{
    width: 20%;
    margin: 1em;
}

footer{
    text-align: center;
    padding: 2em;
    position: relative;
    bottom: -100px;
    width: 100%;
    clear: both;
}